@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>@ViewBag.hashf</h2>

@using(Html.BeginForm("Index","Home",FormMethod.Post)){
        @Html.TextBox("text")
    <input type="submit" value="OK">
    
    

}